@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;600;700&display=swap');

* {
	font-family: 'Albert Sans', sans-serif;
}

body {
	background-color: #e2e2e2 !important;
}

:root {
	--bs-primary-text: #0a58ca;
	--bs-secondary-text: #6c757d;
	--bs-success-text: #146c43;
	--bs-info-text: #087990;
	--bs-warning-text: #997404;
	--bs-danger-text: #b02a37;
	--bs-light-text: #6c757d;
	--bs-dark-text: #495057;
	--bs-primary-bg-subtle: #cfe2ff;
	--bs-secondary-bg-subtle: #f8f9fa;
	--bs-success-bg-subtle: rgb(209 231 221);
	--bs-info-bg-subtle: #cff4fc;
	--bs-warning-bg-subtle: #fff3cd;
	--bs-danger-bg-subtle: #f8d7da;
	--bs-light-bg-subtle: #fcfcfd;
	--bs-dark-bg-subtle: #ced4da;
	--bs-primary-border-subtle: #9ec5fe;
	--bs-secondary-border-subtle: #e9ecef;
	--bs-success-border-subtle: #a3cfbb;
	--bs-info-border-subtle: #9eeaf9;
	--bs-warning-border-subtle: #ffe69c;
	--bs-danger-border-subtle: #f1aeb5;
	--bs-light-border-subtle: #e9ecef;
	--bs-dark-border-subtle: #adb5bd;
}

.btn-modal {
	padding: 0.8rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	user-select: none;
}

.btn-modal-primary {
	color: var(--bs-primary-text);
	background-color: var(--bs-primary-bg-subtle);
}
.btn-modal-primary:hover {
	color: var(--bs-primary-text);
	background-color: var(--bs-primary-border-subtle);
}
.btn-modal-danger {
	color: var(--bs-danger-text);
	background-color: var(--bs-danger-bg-subtle);
}
.btn-modal-danger:hover {
	color: var(--bs-danger-text);
	background-color: var(--bs-danger-border-subtle);
}
.btn-modal-secondary {
	color: var(--bs-dark-text);
	background-color: var(--bs-dark-bg-subtle);
}

.btn-modal-secondary:hover {
	color: var(--bs-dark-text);
	background-color: var(--bs-dark-border-subtle);
}
.btn-modal-disabled {
	color: var(--bs-gray-600);
	background-color: var(--bs-gray-200);
	cursor: not-allowed !important;
}

.btn-modal-block {
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
.btn-modal-left {
	border-bottom-left-radius: 0.375rem;
}
.btn-modal-right {
	border-bottom-right-radius: 0.375rem;
}
